// components/navbar.less
@import '../variables.less';
@import '../mixins.less';

// Local Variables
@navbar-nav-item-height: 40px; // Warning: Increasing the border width above 1px impacts uk-grid flows
@navbar-bottom-border-color: #DDD;
@logo-text-color: #30B44A;

// Helpers

// Styles
.uk-navbar {
  height: @navbar-nav-item-height;
  background: @decipher-black;
}

#product-logo {
  margin-left: 20px;
}

#logo-text {
  margin-left: 5px;
  font-size: x-large;
  color: @logo-text-color;
}
