// layout.less
@import 'variables.less';
@import 'mixins.less';

// Local Variables

// Helpers

// Styles

/* Fill the entire width of the page */
#app-container {
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;
}

.uk-navbar {
  height: 42px !important;

  .uk-navbar-item {
    padding: 0 11px;
  }
}
